{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
    <ul>
  <li><a href="http://localhost:5002/">Options</a></li>
  <li><a href="http://localhost:5002/admin">Admin</a></li>
  <li><a href="http://localhost:5002/reservations">Reserve</a></li>
  </ul>
  <h2 class="title">Administrator Login</h2>
  
  <ul>
      {% for row in seats %}
      <li>{{row}}</li>
      {% endfor %}
  </ul> 
    
  <p>My Total: {{total}}</p>

    
  <form method="POST" action="/admin">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.login }}
  </form>
  
</div>
{% endblock %}
